body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    margin-top: 3em;
}
section {
    padding: 60px 0;
}

    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }


    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: green;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 4px solid !important;
        font-size: 20px;
        font-weight: bold;
    }

    #tabs .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        font-size: 20px;
    }
#imageSize {
    width: 78px;
}

#admin-btn {
    margin: 0px 4px 0px 0px;
}

.list-video {
    width: 300px;
}

#addButton {
    text-align: center;
}

#tableBooksGrid_paginate, #tableVideosGrid_paginate, #tableS3ObjectsGrid_paginate {
    float: right;
}

#tableBooksGrid, #tableVideosGrid {
    text-align: center;
    width: 100% !important;
}

.fade-enter-active, .fade-leave-active {
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 4em;
    line-height: 60px;
    background-color: #f5f5f5;
}

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }



#search {
    position: relative;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    #search i {
        position: absolute;
        left: -30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #2196f3;
        font-size: 18px;
    }

    #search input {
        padding-left: 45px;
    }

video {
    -o-object-fit: contain;
    object-fit: contain;
}

.vertical-align-span {
    margin: auto;
    font-size: 4em;
}

.vertical-align-div {
    width: 100%;
    height: calc(100vh - 200px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.vertical-align-div-video {
    width: 100%;
    height: calc(100vh - 100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
}

.video-in-card {
    width: 100%;
}

a {
    color: black;
}

    a:hover {
        color: black;
        text-decoration: none;
    }

.block_search {
    text-align: center;
}

.block_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#search-input {
    min-width: 100%;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border: 2px solid rgb(63, 81, 181);
    border-radius: 40px;
    height: 46px;
}

.btn_open-search {
    display: none;
}

.open {
    height: 60px;
    background: rgb(158, 247, 25);
}


#search-input {
    font-family: Arial, FontAwesome;
}

    #search-input::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(33, 150, 243);
        opacity: 1; /* Firefox */
    }

    #search-input:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(33, 150, 243);
        opacity: 1; /* Firefox */
    }

    #search-input::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(33, 150, 243);
        opacity: 1; /* Firefox */
    }

    #search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(33, 150, 243);
        opacity: 1; /* Firefox */
    }

    #search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(33, 150, 243);
    }

    #search-input::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(33, 150, 243);
    }

.img-thumbnail {
    /*height: 25em;*/
    -o-object-fit: cover;
    /*object-fit: cover;*/
}

.card {
    width: 15rem;
    margin: 1rem;
}

.img-background {
    background-color: #212529;
    border-color: #212529;
}

.img-logo {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #212529;
    border-color: #212529;
    width: 25%;
}
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 1050px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .card{
        width: 15rem;
    }

    #search {
        width: 80%;
    }

    .block_search {
        position: absolute;
        top: 100%;
        max-width: 100%;
        left: 0;
        right: 0;
        padding: 0 20px;
        height: 60px;
        overflow: hidden;
        background: rgb(158, 247, 25);
        display: none;
    }

    .btn_open-search {
        display: inline-block;
        margin-right: 10px;
    }
}

@media screen and (max-width: 575px) {
    #search i {
        left: -15px;
    }

    .card {
        width: 100%;
    }

}
